body {
  margin: 0;
}

.radix-themes {
  --default-font-family: verdana;
}

button,
.rt-BaseMenuItem {
  cursor: pointer !important;
}

.rt-TextAreaInput {
  background-color: var(--color-panel);
  border-radius: 5px;
  outline-offset: -2px;
  color: var(--gray-12);
}

.rt-SelectTrigger {
  background-color: var(--gray-surface);
}

.light,
.light-theme {
  --color-page-background: var(--gray-4) !important;
}

.dark,
.dark-theme {
  --color-page-background: var(--color-surface) !important;
}
