body {
  margin: 0;
}

.radix-themes {
  --default-font-family: verdana;
}

button,
.rt-BaseMenuItem {
  cursor: pointer !important;
}

.rt-TextArea.rt-variant-soft {
  background-color: var(--color-panel);
  border-radius: 5px;
  outline-offset: -2px;
  color: var(--gray-12);
}

.rt-SelectTrigger {
  background-color: var(--gray-surface);
}
